* {
  margin: 0;
}
.App {
  height: 100vh;
  width: 100vw;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 400px;
  margin-top: 64px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.main {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px
}

.foot {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color:#6B7280;
}

.head {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.feet {
  width: 400px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6B7280;
  flex-direction: column;
}

.eyes {
  width: 400px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.beak {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hair {
  width: 400px;
  height: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-decoration-skip-ink: none;
  font-family: 'Inter', sans-serif;


}

.eyes h1 {
  font-size: 20px;
  color: #000000;
}

.beak input {
  width: 320px;
  height: 26px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--border-border-border, #E4E4E7)
}

.beak button {
  width: 60px;
  height: 40px;
  background-color: #f3f4f6;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #3C82F6;

}

.All {
  width: 38px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #F3F4F6;
  justify-content: center;
  cursor: pointer;
}

.Active {
  width: 60px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #F3F4F6;
  justify-content: center;
  cursor: pointer;
}

.Completed {
  width: 87px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #F3F4F6;
  justify-content: center;
  cursor: pointer;
}
.todo {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-decoration-skip-ink: none;
  font-family: 'Inter', sans-serif;
  border: 1px solid #E4E4E7;
  border-radius: 5px;
  margin: 10px;
  padding: 0px 10px;
}
.todotext1 {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: 0px;
}